@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap') @import 'tailwindcss/base';

/* ./your-css-folder/styles.css */

.m-4{
  margin: 1rem
}

.ml-2{
  margin-left: 0.5rem
}

.mt-12{
  margin-top: 3rem
}

.mt-8{
  margin-top: 2rem
}

.block{
  display: block
}

.flex{
  display: flex
}

.h-12{
  height: 3rem
}

.h-36{
  height: 9rem
}

.h-4{
  height: 1rem
}

.h-8{
  height: 2rem
}

.w-4{
  width: 1rem
}

.w-full{
  width: 100%
}

.items-end{
  align-items: flex-end
}

.justify-end{
  justify-content: flex-end
}

.justify-center{
  justify-content: center
}

.gap-6{
  gap: 1.5rem
}

.overflow-hidden{
  overflow: hidden
}

.rounded{
  border-radius: 0.25rem
}

.border-8{
  border-width: 8px
}

.border-b{
  border-bottom-width: 1px
}

.border-gray-100{
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity))
}

.bg-blue-500{
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.bg-gray-100{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.bg-green-500{
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity))
}

.bg-purple-500{
  --tw-bg-opacity: 1;
  background-color: rgb(168 85 247 / var(--tw-bg-opacity))
}

.bg-red-500{
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity))
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-4{
  padding: 1rem
}

.px-16{
  padding-left: 4rem;
  padding-right: 4rem
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.pb-2{
  padding-bottom: 0.5rem
}

.font-mono{
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-6xl{
  font-size: 3.75rem;
  line-height: 1
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem
}

.font-bold{
  font-weight: 700
}

.font-semibold{
  font-weight: 600
}

.uppercase{
  text-transform: uppercase
}

.text-blue-700{
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity))
}

.text-gray-500{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.text-green-500{
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity))
}

.text-green-700{
  --tw-text-opacity: 1;
  color: rgb(21 128 61 / var(--tw-text-opacity))
}

.text-pink-700{
  --tw-text-opacity: 1;
  color: rgb(190 24 93 / var(--tw-text-opacity))
}

.text-red-400{
  --tw-text-opacity: 1;
  color: rgb(248 113 113 / var(--tw-text-opacity))
}

.shadow-md{
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

@media (min-width: 640px){
  .sm\:text-red-500{
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity))
  }
}

@media (min-width: 1024px){
  .lg\:justify-end{
    justify-content: flex-end
  }

  .lg\:text-blue-500{
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity))
  }
}
